.footer{
    background-color: #59049D;
    padding-top: 20px;
    color: white;
}
.footer-link{
    
    font-family: sans-serif;
    text-decoration: none;
}
.link{
    color: white;
    font-family: sans-serif;
    text-decoration:none;
}
.linkTitle{
    color: #fceb25;
    text-decoration: none;
}
.aboutus{
    font-family: sans-serif;
    color: #fceb25;
}
.offre{
    font-family: sans-serif;
    color: #fceb25;
    font-size: 16px;
    padding: 8px;
}
.accordion-body{
    padding: 8px;
}
.accordion-bg{
    --bs-accordion-bg:#59049D;
    --bs-accordion-active-bg:var(--bs-accordion-bg);
    --bs-accordion-active-color:#fceb25;
    font-family: sans-serif;
    --bs-accordion-border-color:none;
    
}
.bg-purple{
    background-color: #59049D;
}
.img-fluid
{
    height: 80px;
    width: 100%;
}
.header-purple
{
    --bs-navbar-color:rgba(255, 255, 255, 0.937);
    font-weight: 600;
    font-size: 20px;
}
.center-container
{
    margin-left: 5%;
    margin-right: 5%;
}
.navbar-purple{
    background-color: #7E37B1;
    padding: 25px 0px 25px 0px;
}
.titleB2C {
    margin: 0 12px;
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #fdec25;
    margin-left: 0;
    color: #fdec25 !important;
}
.titleB2B {
    margin: 0 12px;
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #fff !important;
    background-color: transparent;
    border: none;
    outline: none;
}
.nov_button.nety-secondary a {
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #59049d;
    background: #fdec25;
    border: 1px solid #fdec25;
    border-radius: 50px;
    padding: 5px 20px;
}
.nov_button.nety-primary a {
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    background: #fff;
    color: #59049d;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 5px 20px;
}
.contactH1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: 300;
    font-size: 45px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.card-img
{
    height: auto !important;
    width: auto !important;
}
.bg-service
{
    background-color: #F1E9F7;
    padding: 40px;
}
.service-title
{
    font-weight: 600;
}
.text-decoration-none
{
    text-decoration: none !important;
}
   /* ###########*/

   .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 270px;
    height: 250px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.2em;
    color: #333;
}

.card p {
    font-size: 0.9em;
    color: #666;
}
.avatar-svg {
    width: 70px; /* Ajustez la largeur souhaitée */
    height: 80px; /* Ajustez la hauteur souhaitée */
    text-align: center;
    color: #59049D;
  }
  .item_bloc_contact {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  background-color: #fff;
  border: 2px solid #59049d;
  padding: 20px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
}
.bloc_contact_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.title-card {
    padding-top: 20px;
    text-decoration: none;
}
.label-email{
    --bs-border-radius: 3rem;
}
.bg-contacts{
    padding: 20px 0 20px 0;
}
