.footer{
    background-color: #59049D;
    padding-top: 20px;
    color: white;
}
.footer-link{
    
    font-family: sans-serif;
    text-decoration: none;
}
.link{
    color: white;
    font-family: sans-serif;
    text-decoration:none;
}
.linkTitle{
    color: #fceb25;
    text-decoration: none;
}
.aboutus{
    font-family: sans-serif;
    color: #fceb25;
}
.offre{
    font-family: sans-serif;
    color: #fceb25;
    font-size: 16px;
    padding: 8px;
}
.accordion-body{
    padding: 8px;
}
.accordion-bg{
    --bs-accordion-bg:#59049D;
    --bs-accordion-active-bg:var(--bs-accordion-bg);
    --bs-accordion-active-color:#fceb25;
    font-family: sans-serif;
    --bs-accordion-border-color:none;
    
}
.bg-purple{
    background-color: #59049D;
}
.img-fluid
{
    height: 80px;
    width: 100%;
}
#search_filters_wrapper {
    background: rgba(89, 4, 157, .08) !important;
    border-radius: 7px;
}
#search_filters_wrapper .title_block {
    font-family: "Azo Sans", sans-serif;
    color: #59049d;
    margin-bottom: 0px !important;
}
.header-purple
{
    --bs-navbar-color:rgba(255, 255, 255, 0.937);
    font-weight: 600;
    font-size: 20px;
}
.center-container
{
    margin-left: 20px;
    margin-right: 20px;
}
.navbar-purple{
    background-color: #7E37B1;
}
.navbar-padding
{
    padding: 20px 0px 20px 0px;
}
.titleB2C {
    margin: 0 12px;
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #fdec25;
    margin-left: 0;
    color: #fdec25 !important;
}
.titleB2B {
    margin: 0 12px;
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #fff !important;
    background-color: transparent;
    border: none;
    outline: none;
}
.nov_button.nety-secondary a {
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    color: #59049d;
    background: #fdec25;
    border: 1px solid #fdec25;
    border-radius: 50px;
    padding: 5px;
}

.nov_button.nety-primary a {
    font-family: 0, sans-serif;
    font-weight: 700;
    text-transform: none;
    background: #fff;
    color: #59049d;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 5px 20px;
}
.contactH1 {
    font-family: 'Azo Sans', sans-serif;
    font-weight: 300;
    font-size: 45px;
    color: #000;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.card-img
{
    height: auto !important;
    width: auto !important;
}
.bg-service
{
    background-color: #F1E9F7;
    padding: 40px;
}
.service-title
{
    font-weight: 600;
}
.text-decoration-none
{
    text-decoration: none !important;
}
   /* ###########*/

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 270px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .card img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
} */

.card h2 {
    font-size: 1.2em;
    color: #333;
}

.card p {
    font-size: 0.9em;
    color: #666;
}
.avatar-svg {
    width: 70px; /* Ajustez la largeur souhaitée */
    height: 80px; /* Ajustez la hauteur souhaitée */
    text-align: center;
    color: #59049D;
  }
  .item_bloc_contact {
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,.16);
  background-color: #fff;
  border: 2px solid #59049d;
  padding: 20px;
  margin: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 300px;
}
.bloc_contact_home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.title-card {
    padding-top: 20px;
    text-decoration: none;
}
.red{
    color:red;
    font-weight: bold;
    font-size: 12px;
}
.gray{
    color:gray;
    font-weight: bold;
    font-size: 12px;
}
.green
{
    color:#78be62;
    font-weight: bold;
    font-size: 12px;
}
.label-email{
    --bs-border-radius: 3rem;
}
.bg-contacts{
    padding: 20px 0 20px 0;
}
.card-product-home{
    width: 270px !important;
    margin: 20px;
    border-radius: 7px;
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: start;
    height: 440px;
    border: 1px solid rgba(89, 4, 157, .35);
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
.price {
    font-weight: 700 !important;
    color: #f7547f !important;
    font-size: 24px !important;
    margin-top: 10px;
}
.novTabContainer {
    width: 100%;
    display: flex; 
    align-items: center; 
    justify-content: center;
    height: 50px;
    text-align: center;
}
.hstack {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
  }
  .nov-tabs {
    display: flex;
    background-color: #59049D;
    align-items: center;
    justify-content: center;
    width: 600px !important;
    height: 50px;
    
    border: 1px solid #d5d5d5;
    border-radius: 36px;
    text-align: center;
    padding-bottom: 0 !important;
    overflow-x: hidden !important;
}
.regular_price{
    text-decoration-line: line-through;
}
.btn-product-cat{
    border-radius: 36px;
}
.card-header-product{
    --bs-card-cap-padding-y: 0rem; 
    --bs-card-cap-padding-x: 0rem;
    border-bottom: none;
    text-align: right;
    background-color: white !important;
}
/* ##########  styles of Smartphone product page ######### */

.block-category {
    margin-bottom: 25px;
}
.pubBlock {
    background-color: #f2e8fa;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 400px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.fullDescr {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.camera {
    width: 75px;
    margin: 0 8px;
    padding: 4px 2px;
    background-color: #fff;
    padding: 10px 0;
    margin: 0 10px;
    width: 100px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0,0,0,.16);
}
.cameraValue {
    color: #59049d !important;
    font-weight: 600;
    font-size: 26px;
}
.vivoy50 {
    color: black !important;
    font-size: 50px;
    font-weight: 700;
    position: relative;
}
.ul-list-vivo{
    list-style-type:circle ;
}
@media (max-width: 1000px) {
    .nav-bar-hidden {
      display: none !important;
    }
  }

  .cnxPage {
    background-color: #59049d;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}
.imgLeft {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.firstBloc {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}
.oneArea {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 30px 20px;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}
.pagePacks {
    background-color: rgba(89, 4, 157, .08);
    border-radius: 0 0 179px 0;
}
.card_pack-header {
    background: #59049d 0% 0% no-repeat padding-box;
    text-align: left;
    padding: 20px 40px;
    color: #fff;
    border-radius: 35px 35px 0 0;
}
.associated_product{
    margin-top: 12px;
}
.product-description .nov_image_text img {
    margin-right: 1px;
    width: 30px;
    height: 30px;
}
.card_pack-body {
    text-align: left;
    background-color: rgba(89, 4, 157, .08);
    line-height: 33px;
    padding: 20px 20px 30px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.oneArea .oneBox {
    text-align: left;
    width: 350px;
    transition: 0.3s;
    margin: 0 20px 30px 20px;
    border-radius: 35px;
    background: #fff;
    box-sizing: border-box;
    color: #000;
}
.panier-icone{
    font-size: x-large;
    color: #59049D;
    padding-left: 10px;
}
.panier_titre{
    font-size: x-large;
    padding-left: 10px;
    color: #59049D;
}
.parentImg img {
    width: auto;
    height: 250px;
    margin-top: -70px;
}
.Page_title {
    margin: auto;
    padding: 0 15px;
}
.page_title_account {
    border-bottom: none !important;
    color: #000;
    text-transform: none;
    font-size: 45px;
    margin-bottom: 5px;
    text-align: left;
}
.form-connecter{
    padding:80px;
}
.form-register{
    padding: 20px 140px 10px 140px;
}
.welcome{
    font-size: 60px;
}

.login-form{
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
}
.titleDesc {
    color: #6c6c6c;
    font-size: 20px;
}
.cnxPage .block-form-login .formulaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.aff-login{
    height: 100%;
    width: 100%;
}
.register-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #bfb2d7;
  }
  
  .register-form .mb-3 {
    margin-bottom: 20px;
  }

  .card-pub-profile {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* style information profile */
.card-info-profil{
    width: 100%;
    margin: 0% !important;
    padding-top: 15px !important;
}

.input-text{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
.input-password{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.input-submit{
    background-color: #640fa2;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
  
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    text-align: left;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 980px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 980px) {
    .col-25, .col-75 {
      width: 100%;
      margin-top: 0;
    }
  }
  
  /* Pour les écrans plus larges */
.col-7 {
    float: left;
    width: 60%;
    padding-right: 4%;
  }
  
  .col-5 {
    float: left;
    width: 40%;
  }
  
  /* Pour les écrans plus petits (mobile) */
  @media screen and (max-width: 980px) {
    .col-7, .col-5 {
      width: 100%;
      float: none;
      padding-top: 50px;
      
    }
  }
  
.form-control-label {
    text-align: left;
    font-size: 1rem;
    margin-bottom: 0;
    color: #666;
    padding-top: 10px;
}
.input-email-none{
    pointer-events: none;
    background-color: #e9e9e9;
}

/*********** order Details **************/
.info-Order{
    text-align: left;
}
.info-table-head{
    background-color:rgb(226, 225, 237) !important;
}
.h4-order-details{
    color:#640fa2;
}
.offcanvas-mobile{
    background-color: white;
    .dropdown .nav-link
    {
        color: black;
        i{
            color: black;
        }
    }
    .navbar-nav
    {
        padding-left: 20px;
    }


}
.dropdown .nav-link
{
    color: white;
    i{
        color: white;
    }
}
.price-container {
    display: ruby;
    }
  
  .price-container h3, .price-container p {
    margin-right: 30px;
  }
  .price-details{
    font-size:xx-large;
    color: #F7547F;
  }
  .price-piscount{
    text-decoration: line-through;
  }
  .bg-detail-product{
    background-color:#FAF7FC;
  }
  .cadre-img-detail{
    padding: 20px;
    background-color: white;
  }

  /* Panier*/
  .panier-table {
    border-radius: 10px;
    border: 4px solid #FAF7FC; /* couleur de la bordure */
    padding: 10px;
    box-shadow: 5px 10px 18px #FAF7FC;
  }
  .req-cmd{
    border-radius: 10px;
    
  }
  .blockcart .header-cart {
    text-align: center;
    cursor: pointer;
}
.blockcart .header-cart .cart-products-count {
    top: -17px !important;
}
 .img-panier {
    height: 90px;
    width: 90px;
}
.cart-products-count {
    background: #1fbe9d;
    left: 50%;
    min-width: 17px;
    height: 17px;
    position: relative;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.modal-header-panier {
    background-color: #1fbe9d;
}
.btn-modal-panier{
    background-color: purple;
    color: white;
    width: 100%;   
}
.btn-env-order{
    background-color: #59049D;
    color: white;
}
.btn-modal-achat{
   border: 2px solid purple;
   color: purple;
   background-color: #e5e2e8;
   width: 100%;
}
.col-modal-edit{
    text-align: center;
}
.text-purple{
    color: #59049d;
}
.remise-prix{
    text-decoration: line-through;
}
.modal-icon{
    font-size: x-large;
}
.icon-sad-modal{
    height: 30px;
    width: 30px;
}

.img-modal{
    height: 80px;
    padding: 2px;
    width: 80px;
    /* border-radius: 8px;
    border: 2px solid #e0dbea; */
  }
.total-prix-modal{
    padding: 0px 30px 10px 30px;
}
.prix-modal{
    color: #F7547F;
    font-size: large;
    font-weight: bold;
}
   
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: right;
    align-items: center;
  }

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    max-width: 100%;
    border-radius: 8px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 
  .cercle-panier{
    background-color: powderblue;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 13px;
    padding-top: 0px;
}
.pb-panie{
    padding-bottom: 20px;
}
.pd-invoice-sub{
    padding-top: 0px;
}
.commande-collapse{
    --bs-accordion-active-bg: white !important;
}
.collapse-livraison{
    border: 2px solid #8888;
    margin: 10px;
    border-radius: 10px;
}
.btn-adress{
    color:#59049D;
    border: 2px solid #59049D;
    margin: 10px;
    border-radius: 10px;
}
.titre-adress{
    margin: 20px;
}
/**** Page demande d'abonnement *****/
.pageabonnement{
    height: 170px;
  background: url(/image/bg-abo.png) no-repeat 100% 0%, url(/image/bg-abo-nety.png) no-repeat 4% 100%, #59049D;
  background-size: contain;
}
.abo-form-card {
    z-index: 1;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    /* border: 1px solid rgba(0, 0, 0, .125); */
    box-shadow: 0px 3px 5px #00000029;
    border-radius: 45px;
  }
  .abo-card-block {
    top: -70px;
    padding: 30px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
  .title-icon {
    width: auto;
    height: 50px;
}
.title-form-page {
    color: #59049D;
    line-height: 1.2;
    font-weight: bold;
    font-size: 35px;
}
.stepwizard {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: relative;
    margin-top: 25px;
    margin-bottom: 40px;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard-step:not(:last-child):before {
    top: 19px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    z-index: -1;
    background-color: #59049D;
    /* // #ccc;  */
  }
  
  .stepwizard-step {
    display: table-cell;
    width: 25%;
    text-align: center;
    position: relative;
  }
  
  .stepwizard-step .btn.disabled {
    opacity: 1;
  }
  .btn-step {
    color: #fff;
    border-color: #59049D;
    background-color: #8948b8;
  }
  .btn-step:hover,
.btn-step:focus {
  border-color: rgb(89, 4, 157);
  color: #59049D;
  background-color: #FDEC25;
}
.btn-circle {
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 20px;
  }
  .btn-outline-step {
    color: #59049D;
    background-color: #fff;
    border-color: #59049D;
  }
  
  .btn-outline-step:hover,
  .btn-outline-step:focus {
    color: #59049D;
    border-color: #59049D;
    background-color: #f4eef8;
  }
  .stepwizard-step .btn.disabled {
    opacity: 1;
  }
  a.btn.disabled {
    pointer-events: unset;
    cursor: not-allowed !important;
  }
  
  a.btn.disabled:hover,
  a.btn.disabled:focus {
    border-color: #bda7cc;
    background-color: #bda7cc;
    color: #fff;
  }
  .stepwizard-content {
  margin: 5px auto;
  padding: 5px 50px;
}
.filter {
    font-size: xx-large;
    font-weight: bold;
    padding-top: 10px;
    }
.hr-filter{
    border: 1px solid white;
    opacity: 1 !important;
}
.filter-label{
    padding-left: 10px;
}
.filter-input {
margin-right: 10px;
}
.filter-form {
    padding-left: 15px;
}
.breadcrumb-style {
    padding: 20px;
}
.select-style{
    background-color:#59049D;
    border-radius: 10px;
    height: 60px;
}
.qt-product{
    color: yellow;
    margin-left: 20px;
}
.form-select{
--bs-border-radius: 15px;
}
.search-input{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.search-button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
.image-contact{
    background-color: #59049D;
}
.contact-nous{
    color: yellow;
    font-size: 80px;
    border-bottom-left-radius: 40%;
}
.card-contact{
    .card-text{
        color: yellow;
    }
}
.bg-white{
    background-color: white;
}


.form-titre{
    font-size: 60px;
}

.form-control {
    border: 2px solid #59049D; 
    border-radius: 10px; 
  }
  
  textarea.form-control {
    resize: none;
  }
  
  .btn-primary {
    background-color: #59049D; 
    border-color: white;
    border-radius: 20px;
  }
  
  .btn-primary:hover {
    background-color: #ff1493; 
  }
  
  .card-contact{
    background-color: #59049D;
    border-radius: 20px;
    color: white;
    height: 250px;
  }
.messagestock{
    color: #d0121a;
    font-weight: bold;
}